.container {
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stata {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 130px;
}
